body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.color{
  text-align: center;
}

.color div{
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 50%;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}
.hide{
  background-color: #fff !important;
}